{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true // https://eslint.org/docs/user-guide/configuring/language-options#specifying-environments
  },
  "rules": {
    "semi": "off"
  },
  "extends": "eslint:recommended"
}
