{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2020": true // https://eslint.org/docs/user-guide/configuring#specifying-environments
  },
  "rules": {
    "semi": "off"
  },
  "extends": "eslint:recommended"
}
